/* ---------------------------------------- Variables Definition ---------------------------------------- */
:root {
--bg_colour: rgb(235, 236, 237);
--fg_colour_pre: rgb(0, 0, 0);
--fg_colour_post: rgb(15, 13, 13);
--cube_colour: #ff2315;
--txt_colour: #BFB8AD;
--title_colour: #BFB8AD;
--logo_colour: #510D0A;
}
/* ------------------------------------------------------------------------------------------------------ */
body, html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--bg_colour);
  }
/* ------------------------------------------ WebGL Cube Space ------------------------------------------ */
section{
  position: absolute;
  height: 100%;
  width: 100%;
}

video{
  object-fit: fill;
}

video, #Background_Spawner{
  position: absolute;
  top: 0px;
  left:0px;
  min-height: 100%;
  width: 100%;
}
/* ------------------------------------------------------------------------------------------------------ */

/* ----------------------------------------- Main Body Contents ----------------------------------------- */
#Main_Body_Section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Background_Cover{
position: absolute;
min-height: 100%;
width: 100%;
backdrop-filter: blur(2px);
z-index: 0;

opacity: 0%;
animation: appear 2s 10s;
animation-fill-mode: forwards;
}

#Main_Body{
  min-height: 100%;
  min-width: 400px;
  width: 100%;
  background-color: var(--fg_colour_pre);
  z-index: 1;
  
  opacity: 0%;
  animation: shrink 2s 12s, appear 2s 10s;
  animation-fill-mode: forwards;
}

@keyframes appear{
  0% {
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes shrink{
  0% {
    width: 100%;
  }
  100%{
    width: 70vw;
  }
}
/* ------------------------------------------------------------------------------------------------------ */