/* ---------------------------------------- Variables Definition ---------------------------------------- */
:root {
--bg_colour_switch: rgb(203, 203, 204);
--bg_colour: rgb(235, 236, 237);
--fg_colour_pre: rgb(0, 0, 0);
--fg_colour_post: rgb(15, 13, 13);
--cube_colour: #ff2315;
--txt_colour: #f3f3f2;
--title_colour: #BFB8AD;
--logo_colour: #510D0A;
}
/* ------------------------------------------------------------------------------------------------------ */
body, html {
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg_colour);
  animation: lockScreen 1s 8s both;
}

@keyframes lockScreen{
  0% {
    overflow-y: hidden;
  }
  100%{
    overflow-y: unset;
  }
}
/* ------------------------------------------ WebGL Cube Space ------------------------------------------ */
section{
  position: absolute;
  min-height: 100%;
  height: auto;
  width: 100%;
}

video{
  object-fit: fill;
}

video, #Background_Spawner{
  position: absolute;
  top: 0px;
  left:0px;
  min-height: 100%;
  width: 100%;
}
/* ------------------------------------------------------------------------------------------------------ */

/* -------------------------------------------- Intro Switch -------------------------------------------- */
#IntroSkipSwitch{
  position: absolute;
  display: block;
  width: 60px;
  height: 34px;
  left: 2px;
  top: 2px;
  z-index: 2;
}

#IntroSkipSwitch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.Switch_Slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--fg_colour_post);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.Switch_Slider:before{
  border-radius: 50%;
  position: absolute;
  content: "✖";
  text-align: center;
  color: var(--fg_colour_post);
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg_colour_switch);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .Switch_Slider{
  background-color: var(--bg_colour_switch);
}

input:checked + .Switch_Slider:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: var(--fg_colour_post);
  content: "✔";
  color: var(--bg_colour_switch);
}
/* ------------------------------------------------------------------------------------------------------ */

/* ----------------------------------------- Main Body Contents ----------------------------------------- */
#Main_Body_Section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Background_Cover{
  position: absolute;
  min-height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 0;

  animation: appear 1s 6.9s;
  animation-fill-mode: both;
}

#Main_Body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  min-width: 400px;
  background-color: var(--fg_colour_pre);
  z-index: 1;
  
  animation: shrink 1s 8s, appear 1s 6.9s;
  animation-fill-mode: both;
}

@media (orientation: portrait){
  #Main_Body{
    min-width: 100vw;
  }
}

@keyframes appear{
  0% {
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes shrink{
  0% {
    width: 100%;
  }
  100%{
    width: 70vw;
  }
}

#Skills_Block{
  height: max-content;
}

#Projects_Block{
  height: max-content;
}

/* -------------------------------- self appearing texts -------------------------------- */
#Header_Holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 34px;
}

@media (orientation: portrait){
  #Header_Holder{
    flex-direction: column-reverse;
  }
}

#Header_Holder > .Cmd_Text{
  animation: typing linear 1s 9s backwards;
  white-space: nowrap;
}

.Cmd_Text{
  color: var(--txt_colour);
  font-family: monospace;
  overflow: hidden;
  margin: 2em 1rem 0 1rem;
  letter-spacing: .15em;
  animation: typingSmall linear 1s 9s backwards;
  font-size: 1rem;
  width: fit-content;
}

.REPL_Input{
  margin-top: 0;
  height: 1.5em;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes typingSmall {
  0% {
    width: 0;
    white-space: nowrap;
  }
  100% {
    width: 100%;
    white-space: wrap;
  }
}

.Corrupted_Text{
  font-family: 'Common Pixel', sans-serif;
  margin: 2em 0 0 0;
  color: transparent;
  background: linear-gradient(to left, #3d2f2f, #502c2c);
  background-clip: text;
  -webkit-background-clip: text;
}

#Title{
  justify-self: end;
  color: var(--txt_colour);
  font-family: monospace;
  font-size: 0.5rem;
  margin: 1em 1rem 0 0;
  max-width: fit-content;
  white-space: pre;
  margin-left: -4rem;
  animation: appear 2s 9s both;
}

@media (orientation: landscape){
  @media (max-width: 1010px){
    #Title{
      display: none;
    }
  }
}

@media (max-width: 480px){
  #Title{
    display: none;
  }
  #Header_Holder > .Cmd_Text{
    animation: typingSmall linear 1s 9s both;
  }
}

.Input{
  font-family: 'Common Pixel', sans-serif;
}
/* ----------------------------------- Projects block ----------------------------------- */

.Projects_Subblock{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Projects_Holder{
  animation: appear 1s 9s;
  width: 135px;
  height: 135px;
  margin: 0 5vw 0 5vw;
}

.Projects_Holder > img{
  backdrop-filter: blur(3px);
  z-index: 2;
}

.Projects_Holder > canvas{
  position: relative;
  top: -135px;
  left: 0;
  z-index: 3;
  width: 131px;
  height: 131px;
}

.Projects_Texts{
  width: 50%;
}

.Right_Aligned_Text{
  text-align: right;
}

@media (orientation: portrait){
  .Projects_Subblock{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Projects_Subblock:first-child{
    flex-direction:column-reverse;
  }
  .Projects_Texts{
    width: 100%;
    text-align: center;
  }
}
/* ------------------------------------------------------------------------------------------------------ */